.resume-page {
  width: calc(100% - 60px);
  height: 100vh;
  margin-left: 60px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    border: none;
    width: 100%;
    height: calc(100vh - 80px);
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}
