html {
  font-size: 62.5%;
  height: 100%;

}



body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  background: linear-gradient(to bottom, #1587e3, #f4f4f4);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}